<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>

</head>
<body>
		<form th:object="${usuario}" th:method="get">
		<h1>Peliculas guardadas Álvaro de Dios</h1>
			<table>
				<tr>
					<th> Peliculas guardadas </th>
				</tr>
			
				<th:block th:each="pelicula : ${usuario.peliculas}">
				    <tr>
				       <td>
				        <a th:text="${pelicula.Title}" th:href="@{/omdb/verpeliculaguardada(titulo=${pelicula.Title})}"></a>
				       	</td>
				    </tr>
				</th:block>
			</table>
		</form>
		<form th:action="@{/omdb/buscarpelicula}">
			<div>
				<div>
					<input type="submit" value="Volver"/>
					
				</div>
			</div>
		</form>
</body>
</html>