
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<body>
		<form th:action="@{/omdb/altaUsuario}" th:object="${usuario}" method="get">
			<h1>Alta usuario Álvaro de Dios</h1>
			<div>
				<label>Nombre</label>
				<div>
					<input type="text" th:field="*{nombre}"/> 
				</div>
			</div>
			<div>
				<label>Apellido</label>
				<div>
					<input type="text" th:field="*{apellido}"/> 
				</div>
			</div>
			<div>
				<label>Email</label>
				<div>
					<input type="text" th:field="*{email}"/> 
				</div>
			</div>
			<div>
				<label>Contraseña</label>
				<div>
					<input type="password" th:field="*{contrasenia}"/> 
				</div>
			</div>
			<div>
				<label>Año nacimiento</label>
				<div>
					<input type="text" th:field="*{anio_nacimiento}"/> 
				</div>
			</div>
			<div>
				<div>
					<input type="submit" value="Crear Usuario"/>
				</div>
			</div>

		</form>
		<form th:action="@{/omdb/formularioUsuario}">
			<div>
				<div>
					<input type="submit" value="Volver"/>
					
				</div>
			</div>
		</form>
	</div>
</body>
</html>